/* html {
  scroll-behavior: smooth;
} */

body {
    margin: inherit;
    overflow: hidden;
    font-family: monospace;
}

#main {
    height: -webkit-fill-available;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.vid {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  /* z-index: -1; */
}

.main-content {
    z-index: 1;
    width: 100vw;
    height: 100vh;
}

.selection-container {
    width: 257px;
    margin-left: 25%;
}

.state-select-button {
    opacity: 0.7;
}

.button {
    
    font-size: 31px;
    font-weight: 700;
    font-family: monospace;
    cursor: pointer;
    /* cursor: url("images/eagle-red-white-blue-2-carol-cavalaris.jpg"), auto; */
    opacity: .7;
    background: none;
    border: none;
    text-shadow: 1px 1px 8px black;
    outline: none;
    position: relative;
    top: 5px;
}

.button:hover {
    transform: scale(1.5)
}

.following {
    opacity: .7;
    font-size: 4px;
    color: aliceblue;
    writing-mode: vertical-rl;
    text-orientation: upright;
    letter-spacing: -.4em;
    text-shadow: 1px 1px 8px black;
}

.of {
    position: relative;
    bottom: 4px;
    opacity: .7;
    font-size: 4px;
    color: aliceblue;
    letter-spacing: -0.2em;
    writing-mode: vertical-rl;
    text-orientation: upright;
    text-shadow: 1px 1px 8px black;
}

.header {
    z-index: 1;
    height: 30px;
    color: aliceblue;
    text-shadow: 4px 4px 8px black;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.header-left {
    margin-left: 5px;
}

.header-right {
    margin-right: 5px;
}

.left-right-container {
    display: flex;
    height: 95%;
    /* background-image: url("https://www.nps.gov/common/uploads/structured_data/3C7D34E6-1DD8-B71B-0BBB1C0F478318E2.jpg"); */
    /* background-color: steelblue; */
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
}

.left {
    height: -webkit-fill-available;
    width: 50%;
    /* background-color: rgb(70, 130, 180); */
    display: flex;
    flex-direction: column;
    text-align: center;
    /* align-content: center; */
    vertical-align: middle;
}

#left-section-1 {
    position: absolute;
    top: 15%;
    right: 66%;
    height: 55%;
    opacity: 0.7;
    letter-spacing: .02em;
}

#left-section-2 {
    position: absolute;
    top: 15%;
    right: 66%;
    height: 55%;
    display: none;
}

.left-top {
    width: 300px;
    height: 6%;
    margin: 15px;
    margin-left: 25%;
    background-color: #f5deb3;
}

.left-middle {
    width: 269%;
    height: 115%;
    display: flex;
    margin: 15px;
    margin-left: 25%;
    overflow-x: hidden;
    overflow-y: scroll;
    color: aliceblue;
    flex-direction: column;
    text-shadow: 4px 3px 8px black;
}

.budget-function {
    display: flex !important;
    /* padding: 0px, 10px; */
}

.left-bottom {
    width: 300px;
    height: 6%;
    margin: 15px;
    margin-left: 25%;
    background-color: wheat;
}

.right {
    float: right;
    width: 50%;
    height: -webkit-fill-available;
    /* background-color: tomato; */
}

#visualizer-container {
    /* position: absolute;
    margin-left: 10%;
    top: 22%;
    height: 60%;
    width: 31%;
    min-width: 300px;
    min-height: 300px;
    max-height: 500px;
    max-width: 500px;
    display: flex; */
    margin-top: 20%;
    /* color: coral; */
    /* height: 500px !important; */
    

}

.visualizer {
    background-color: rgb(62, 223, 207);
    width: 100%;
    border-radius: 500px;
}

.footer {
    position: sticky;
    bottom: 25px;
    left: 25%;
    background-color: transparent;
    color: aliceblue;
    text-shadow: 4px 4px 8px black;
    text-align: center;
    opacity: 0.4;
}

.radar-container {
    /* position: sticky; */
    width: 90%;
    left: 5%;
    top: 5%;
}

#radar-controls {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 90%;
    top: 10%;
}

#radar-controls-header {
  opacity: .7;
  cursor: grab;
  padding: 4px;
  z-index: 10;
  background-color: #2196F3;
  color: #fff;
  text-align: center;
}

#radar-controls-header:active {
  cursor: grabbing;
}

#circle:hover {
    -webkit-animation: chartjs-render-animation 0.001s;
    animation: chartjs-render-animation 0.001s;
    animation-duration: 0.001s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: chartjs-render-animation;
}

/* dropdown */

.dropbtn {
    background-color: rgb(70, 130, 180);
    color: aliceblue;
    font-size: 12px;
    cursor: pointer;
    opacity: .7;
    border-width: 12px;
    position: relative;
    right: 14px;
    min-width: 98.19px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 98px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 14px;
    z-index: 1;
    opacity: .9;
}

.dropdown-content a {
  color: black;
  padding: 12px 5px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
  overflow: scroll;
  max-height: 120px;
}

.dropdown:hover .dropbtn {
  background-color: red;
}

/* category dropdown */

.dropbtn-category {
    background-color: rgb(70, 130, 180);
    color: aliceblue;
    font-size: 12px;
    /* border: none; */
    cursor: pointer;
    opacity: .7;
    border-width: 12px;
    position: relative;
    right: 14px;
    left: 25px;
}

.dropdown-category-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 98px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    left: 25px;
    z-index: 1;
    opacity: .9;
}

.dropdown-category {
  position: relative;
  display: inline-block;
}

.dropdown-category-content a {
  color: black;
  padding: 12px 5px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.dropdown-category-content a:hover {background-color: #f1f1f1}

.dropdown-category:hover .dropdown-category-content {
  display: block;
  overflow: scroll;
}

.dropdown-category:hover .dropbtn-category {
  background-color: red;
}

/* D3 Block Map */

.state:hover {
    cursor: pointer;
}

.state rect {
    fill: #dedede;
}

.state text {
    font: 12px sans-serif;
    text-anchor: middle;
}

.state text:hover {
    font: 12px sans-serif;
    text-anchor: middle;
}

.state--selected rect {
    fill: #9f4a6c;
}

.state--selected text {
    fill: white;
}

.categories {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 37px;
    justify-content: space-around;
    height: 100%;
}

.category {
    opacity: 0.7;
    color: aliceblue;
    width: 249.656px;
}

#categoryRange {
    cursor: pointer;
}

#categoryRange2 {
    cursor: pointer;
}

#categoryRange3 {
    cursor: pointer;
}

#categoryRange4 {
    cursor: pointer;
}

/* spinner */

.lds-ripple {
    display: inline-block;
    opacity: 0.7;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 64px;
    height: 64px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 28px;
    left: 28px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: -1px;
    left: -1px;
    width: 58px;
    height: 58px;
    opacity: 0;
  }
}


.page {
    scroll-snap-align: start;
    /* scroll-snap-align: center; */
    /* float: left; */
    width: 100vw;
    /* height: 100vh; */
    position: relative;
}

.docScroller {
    overflow-y: hidden;
  /* overflow-x: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; */
  /* scroll-snap-points-y: repeat(100%);
  scroll-snap-type: mandatory;
  scroll-snap-destination: 100% 0%; */
    /* scroll-snap-type: x mandatory;
  scroll-snap-destination: 0% 100%;
  scroll-snap-points-x: repeat(100%); */
	scroll-snap-type: x mandatory;	
	display: flex;
	-webkit-overflow-scrolling: touch;
	overflow-x: scroll;
}

.left-scroll-buttons {
    position: absolute;
    left: 5px;
    top: 50%;
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    background: none;
    outline: none;
    cursor: pointer;
    transform: rotate(135deg);
    z-index: 1;
    height: 15px;
    width: 15px;
    border-color: aliceblue;
    animation: left-scroll-bounce 1.5s infinite;
}

.scroll-buttons {
    position: absolute;
    right: 5px;
    top: 50%;
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    background: none;
    outline: none;
    cursor: pointer;
    transform: rotate(-45deg);
    z-index: 1;
    height: 15px;
    width: 15px;
    border-color: aliceblue;
    animation: scroll-bounce 1.5s infinite;
}

.compare-button {
    position: absolute;
    left: 200px;
}

@keyframes scroll-bounce {
  from {right: 5px;}
  to {right: 15px;}
}

@keyframes left-scroll-bounce {
  from {left: 5px;}
  to {left: 15px;}
}

/* .title-pointer {
    position: relative;
    opacity: 0.7;
    bottom: 5px;
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    background: none;
    outline: none;
    transform: rotate(135deg);
    z-index: 1;
    height: 10px;
    width: 10px;
    border-color: aliceblue;
    animation: left-title-bounce 1.5s infinite;
}

.left-title-pointer {
    position: relative;
    opacity: 0.7;
    bottom: 5px;
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    background: none;
    outline: none;
    transform: rotate(-45deg);
    z-index: 1;
    height: 10px;
    width: 10px;
    border-color: aliceblue;
    animation: title-bounce 1.5s infinite;
}

.compare-button {
    position: absolute;
    left: 200px;
}

@keyframes title-bounce {
  from {right: 5px;}
  to {right: 15px;}
}

@keyframes left-title-bounce {
  from {left: 5px;}
  to {left: 15px;}
} */

/* The Modal (background) */

#myBtn {
    cursor: pointer;
    outline: none;
    border: none;
    background: none;
    font-family: monospace;
    color: aliceblue;
    text-shadow: 4px 4px 8px black;
    font-size: 13px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.7); 
  -webkit-animation-name: fadeIn; /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s;
  /* -webkit-text-stroke: 1px black; */
  font-weight: bold;
}

.modal::after {
  content: "";
  background-image: url("https://cdn2.watson.ch/imgdb/1980/Qx,E,0,0,3092,2061,1288,858,515,343/1233341493958781");
  /* background-image: url("https://images.unsplash.com/photo-1504350440606-81847d413a13?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjEyMDd9"); */
  /* background-image: url("https://s3.envato.com/files/221129430/usa-flag-america.jpg"); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.27;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
}

/* Modal Content */
.modal-content {
  opacity: 2;
    position: fixed;
    left: 14.5%;
    bottom: 22.7%;
    width: 70%;
    /* height: 40vh; */
    text-align: center;
    /* background-color: black; */
    /* background-image: url("https://cdn2.watson.ch/imgdb/1980/Qx,E,0,0,3092,2061,1288,858,515,343/1233341493958781"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s;
    color: floralwhite;
    font-size: 24px;
    /* text-shadow: 1px 1px 3px black; */
    /* -webkit-text-stroke: 1px black; */
    font-weight: bold;
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    /* background-color: red; */
    color: floralwhite;
    text-shadow: 1px 1px 8px black;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    /* background-color: blue; */
    color: floralwhite;
    text-shadow: 1px 1px 8px black;
    font-weight: 100;
}

.fa-angellist:before {
  color: floralwhite;
}

.fa-github:before {
  color: floralwhite;
}

.fa-linkedin-in:before {
  color: floralwhite;
}

/* Add Animation */
@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0} 
    to {bottom: 22.7%; opacity: 1}
}

@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 22.7%; opacity: 1}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}

#modal-container {
    z-index: 2;
}

.radar-container h2{
    margin: 0;
    transform: translateY(-20px);
}

/* toggle switch */

.switch {
  position: absolute;
  left: 25%;
  top: 0;
  display: inline-block;
  width: 60px;
  height: 34px;
  z-index: 1;
}


.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 12.8px 0;
  opacity: 0.7;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  /* background: #008ded; */
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1.4px solid #f40000;
  height: 34px;
  width: 16px;
  border-radius: 0px;
  background: #f70022;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -13px;
}
/* input[type=range]:focus::-webkit-slider-runnable-track {
  background: #008ded;
} */
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #008ded;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1.4px solid #f40000;
  height: 34px;
  width: 16px;
  border-radius: 0px;
  background: #f70022;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #008ded;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #008ded;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1.4px solid #f40000;
  height: 34px;
  width: 16px;
  border-radius: 0px;
  background: #f70022;
  cursor: pointer;
  height: 8.4px;
}
/* input[type=range]:focus::-ms-fill-lower {
  background: #008ded;
}
input[type=range]:focus::-ms-fill-upper {
  background: #008ded;
} */

.switch {
  opacity: 0.7; 
  position: relative;
  display: inline-block;
  width: 125px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: -31.4px;
  right: 31px;
  bottom: 0;
  background-color: #ca2222;
  -webkit-transition: .4s;
  transition: .4s;
   /* border-radius: 34px; */
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  /* border-radius: 50%; */
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(90px);
}

/*------ ADDED CSS ---------*/
.slider:after
{
 content:'FLOOR';
 color: white;
 display: block;
 position: absolute;
 transform: translate(-50%,-50%);
 top: 50%;
 left: 50%;
 font-size: 12px;
 font-family: monospace;
}

input:checked + .slider:after
{  
  content:'CEILING';
}

/*--------- END --------*/